<!DOCTYPE html>
<html lang="pt" ng-app="App">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Minha Agenda - Contatos</title>

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- Facebook -->
  <meta property="fb:app_id" content="967079083361877" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://angrytaxis.com">
  <meta property="og:title" content="Angrytaxis">
  <meta property="og:image" content="https://angrytaxis.com/fb-share.png">
  <meta property="og:description" content="Faça seu papel, denuncie!">

  <!-- Twitter -->
  <meta name="twitter:card" value="summary">
  <meta name="twitter:site" value="https://angrytaxis.com">
  <meta name="twitter:title" content="Angrytaxis">
  <meta name="twitter:description" content="Faça seu papel, denuncie!">
  <meta name="twitter:image:src" content="https://angrytaxis.com/fb-share.png">

  <!-- CSS -->
  <link rel="stylesheet" href="libs/milligram/milligram.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header class="container clearfix">
    <div class="float-left">
      <h2>Contatos</h2>
    </div>

    <aside class="float-right">
      <a class="button button-outline" href="/">Home</a>
      <a class="button button-black" href="/contatos">Contatos</a>
    </aside>
  </header>

  <main class="container">
  </main>

  <footer class="container">
  </footer>

  <!-- JS -->
  <script src="libs/angular/angular.js"></script>
  <script src="js/modules/app.js"></script>
</body>
</html>
