<section class="container">
  <button ng-click="vm.login.facebook()">
    Login com Facebook
  </button>

  <aside ng-if="vm.user_info">
    <strong>Nome</strong>
    <p>{{ vm.user_info.name }}</p>

    <strong>E-mail</strong>
    <p>{{ vm.user_info.email }}</p>

    <strong>Sexo</strong>
    <p>{{ vm.user_info.gender }}</p>

    <strong>id</strong>
    <p>{{ vm.user_info.id }}</p>

    <strong>Foto do perfil</strong>
    <figure>
      <img ng-src="{{ vm.user_info.picture.data.url }}" alt="">
    </figure>

    <strong>Cover image</strong>
    <figure>
      <img ng-src="{{ vm.user_info.cover.source }}" alt="">
    </figure>

  </aside>
</section>
